* {
  padding: 0;
  margin: 0;
  box-sizing: border box;
}

/* VARIABLER */
$color-anubis-black: #0e0f11;
$color-pharaos-gold: #efd17a;
$color-newspaper-white: #fff;
$color-tactical-blue: #3396e6;

$font-boogaloo: "Boogaloo";
$font-play: "play";

body {
  background-color: $color-anubis-black;
}

main {
  min-height: 42rem;
}

h2 {
  font-family: $font-play;
  color: $color-newspaper-white;
  font-size: 1.5rem;
}

h3 {
  font-family: $font-play;
  color: $color-newspaper-white;
  font-size: 1.3rem;
}

p {
  font-family: $font-play;
  color: $color-newspaper-white;
  font-size: 1.3rem;
}

li {
  font-family: $font-play;
  color: $color-newspaper-white;
  font-size: 1.3rem;
}

.color-change {
  color: $color-pharaos-gold;
}

.Link-color {
  color: $color-tactical-blue;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
